{% extends 'base.html.twig' %}

{% trans_default_domain 'reset_password' %}
{% block title %}{{ 'check_email.title'|trans }}{% endblock %}

{% block body %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm bg-white p-6 rounded">
            <div>
                <svg class="mx-auto h-16 w-auto" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><text y="1em" font-size="1em">💍</text></svg>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{ 'check_email.title'|trans }}</h2>
            </div>

            <div class="mt-10 space-y-6">
                <p>
                    {{ 'check_email.confirmation'|trans }}
                    {{ 'check_email.expiration'|trans({
                        'expiration': resetToken.expirationMessageKey|trans(
                            resetToken.expirationMessageData,
                            'ResetPasswordBundle'
                        )
                    }) }}
                </p>
                <p>
                    {{ 'check_email.check_spam_or_retry'|trans({
                        'url': path('forgot_password')
                    })|raw }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
