{% trans_default_domain 'reset_password' %}
<h1>{{ 'mail.title'|trans }}</h1>

<p>{{ 'mail.instruction'|trans }}</p>

<a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>

<p>
    {{ 'mail.expiration'|trans({
        'expiration': resetToken.expirationMessageKey|trans(
            resetToken.expirationMessageData,
            'ResetPasswordBundle'
        )
    }) }}
</p>

<p>{{ 'mail.sign_off'|trans }}</p>
