{% extends 'app.base.html.twig' %}

{% trans_default_domain 'invitation' %}
{% block title %}{{ 'title'|trans }}{% endblock %}

{% block content %}
    <div class="bg-white py-6 rounded-md mx-auto max-w-7xl px-6">
        <div class="text-base leading-7 text-gray-700">
            <p class="text-base font-semibold leading-7 text-violet-600">{{ 'invitation.subtitle'|trans }}</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ 'invitation.title'|trans }}</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                <div>
                    <p class="mt-6">
                        {{ 'invitation.introduction'|trans({'name': app.user.name, 'partySize': app.user.guests.count}) }}
                    </p>

                    <h2 class="mt-8 text-xl font-semibold leading-6 text-gray-900">
                        {{ 'invitation.attendance.title'|trans }}
                    </h2>
                    <p class="mt-2">
                        {{ 'invitation.attendance.introduction'|trans }}
                    </p>
                </div>
                <div>
                    <img
                        class="hidden lg:block w-full max-w-xs h-auto mt-6 float-end"
                        alt="Vlintenholt"
                        src="https://www.vlintenholt.nl/images/gallery/40p/bijzondere-groepsaccommodatie-drenthe-vlintenholt-002.JPG">
                </div>
            </div>
            {% include 'app/invitation/rsvp_form.html.twig' with {
                "events": events,
                "manager": app.user
            } %}
        </div>
        {% include 'app/invitation/summary.html.twig' with {
            "ceremony": events.ceremony,
            "preParty": events['pre-party'],
            "numTotalGuests": numTotalGuests
        } %}
    </div>
{% endblock %}